.container-div {

    text-align:center;
    
  }
.landing-banner{
    background-image: url("../../assets/images/bg-banner.jpg");
    background-position: top;
    height: 500px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    /*filter: brightness(50%) ;*/
}

.wlecome-texte-h1{
    text-align: center;
    color: white;
    padding-top: 15%;
}

.wlecome-texte-h2{
    color: white;
}