.container-div {

    text-align:center;
    
  }
.landing-banner{
    background-image: url("../../assets/images/bg-banner.jpg");
    background-position: top;
    height: 500px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    /*filter: brightness(50%) ;*/
}

.banner-text{
    padding-top: 15%;
    transition: .3s;
    align-self: center;
    margin: 0;
}

.banner-text:hover{
    transform: scale(1.3);
}
.wlecome-texte-h1{
    text-align: center;
    color: white;
}


.wlecome-texte-h2{
    color: white;

}
/*.wlecome-texte-h1:hover{
    transform: scale(1.5);
}

.wlecome-texte-h2:hover{
    font-size: larger;
}*/