<div class="product-content">
    <div class="discount">-20%</div>
    <img src="../../../assets/test_imgs/phone_test.png" data-test="img">
    <h3 data-test="title">Phone</h3>
    <p data-test="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    <h6 data-test="price">$250.00</h6>
    <ul data-test="stars">
        <li><mat-icon class="star star-checked"  fontIcon="star"></mat-icon></li>
        <li><mat-icon class="star star-checked" fontIcon="star"></mat-icon></li>
        <li><mat-icon class="star star-checked" fontIcon="star"></mat-icon></li>
        <li><mat-icon class="star star-checked" fontIcon="star"></mat-icon></li>
        <li><mat-icon class="star " fontIcon="star"></mat-icon></li>
    </ul>
</div>
