<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a href="" class="navbar-brand" data-test="logo">
            test  
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" data-test="menu">
                <li class="nav-item active"> <a href="" class="">Home</a></li>
                <li class="nav-item active"> <a href="" class="">Products</a></li>
                <li class="nav-item active"> <a href="" class="">About</a></li>
            </ul>

        </div>

    </div>
</nav>
